:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;

  --color-base: light-dark(#d6d6d6, #424242);
  --color-doc-hover: light-dark(#e3e3e3, #535353);
  --color-doc-active: light-dark(#ebebeb, #646464);
  --color-page-hover: light-dark(#f2f2f2, #757575);
  --color-page-active: #ffffff;

  --color-text: light-dark(#242424, #e8e8e8);
  --color-text-page-active: #242424;
  --color-text-button: light-dark(#e8e8e8, #242424);

  --color-button-disabled: light-dark(#b6b6b6, #808080);
  --color-button-enabled: light-dark(#808080, #b6b6b6);
  --color-button-hover: light-dark(#353535, #e4e4e4);

  --color-approve: #00ac00;
  --color-reject: #f07070;
  --color-highlight: #00acdc;

  --rounding-height: 3px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  height: 50px;
  width: 100px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-enabled);
  color: var(--color-text-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--color-button-hover);
  transition: 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  display: grid;
  grid-template-columns: 400px auto;
  align-items: start;
  background-color: var(--color-base);
  color: var(--color-text);
}

#navbar {
  padding: 5px 0 5px 0;
  width: 100%;
  background-color: var(--color-doc-active);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-filename {
  width: fit-content;
  margin: 0 auto;
}

.navbar-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar-column {
  margin: 0 auto;
  .visible {
    background-color: var(--color-page-active);
    color: var(--color-text-page-active);
    border-radius: 2px;
    border: var(--color-highlight) 2px solid;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }

}

.navbar-icon {
  margin-bottom: -3pt;
  margin-right: 2pt;
  font-size: 18pt;
  &.enabled {
    color: var(--color-button-enabled);
    :hover {
      color: var(--color-button-hover);
      cursor: pointer;
    }
  }
  &.disabled {
    color: var(--color-button-disabled);
  }
}

#sidebar {
  display: grid;
  grid-template-columns: 10px 10px 15px 10px auto 10px;
  background-color: var(--color-base);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sidebar-header {
  grid-column: 2/ 6;
  margin: 0 10px 0 10px;
}

#sidebar-question-nav {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.sidebar-divider {
  background-color: var(--color-doc-active);
}

.question-text {
  font-style: italic;
}

.question-nav {
  font-size: 30pt;
  vertical-align: top;
  &.enabled {
    color: var(--color-button-enabled);
    :hover {
      color: var(--color-button-hover);
      cursor: pointer;
    }
  }
  &.disabled {
    color: var(--color-button-disabled);
  }
}

#docs {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: subgrid;
}

.doc {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: subgrid;
}

.doc-prefix {
  grid-column: 5 / 7;
  display: grid;
  grid-template-columns: subgrid;
  background-color: var(--color-doc-active);

  div {
    height: var(--rounding-height);
    background-color: var(--color-base);
    border-radius: 0 0 var(--rounding-height) 0px;
  }
}

.doc-main {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: subgrid;
  border-radius: var(--rounding-height) 0 0px var(--rounding-height);
  &.selected {
    grid-column-end: 7;
    background-color: var(--color-doc-active);
  }
  &.unselected {
    border-radius: var(--rounding-height) 0 0 var(--rounding-height);
    grid-column-end: 6;
    margin-top: 4px;
  }
  &.unselected:hover {
    background-color: var(--color-doc-hover);
    cursor: pointer;

    .doc-footer {
      div {
        background-color: var(--color-doc-hover);
      }
    }
  }
}

.doc-header {
  grid-column: 1 / 5;
  padding: 3px 0 3px 0px;
}

.bottom-right {
  display: grid;
  background-color: var(--color-page-active);

  div {
    background-color: var(--color-doc-active);
    border-radius: 0 0 var(--rounding-height) 0;
  }
}

.page-group {
  grid-column: 2 / 6;
  border-radius: var(--rounding-height) 0 0 var(--rounding-height);
  display: grid;
  grid-template-columns: subgrid;
  &.selected {
    background-color: var(--color-page-active);
    color: var(--color-text-page-active);
  }
  &.unselected:hover {
    background-color: var(--color-page-hover);
    .top-right {
      div {
        background-color: var(--color-page-hover);
      }
    }
    .bottom-right {
      div {
        background-color: var(--color-page-hover);
      }
    }
  }
}

.page-header {
  padding: 0 0 5px 0;
  grid-column-start: 1;
  &.selected {
    grid-column-end: 5;
  }
  &.unselected {
    grid-column-end: 4;
  }
}

.top-right {
  display: grid;
  background-color: var(--color-page-active);

  div {
    background-color: var(--color-doc-active);
    border-radius: 0 var(--rounding-height) 0 0;
  }
}

.citation {
  grid-column-start: 2;
  &.unselected {
    grid-column-end: 4;
    span {
      line-height: 1.1;
      height: 1.2em;
      width: 320px;
      display: inline-block;
      overflow: clip;
      border: transparent 2px solid;
    }
  }
  &.unselected:hover {
    span {
      border-radius: 4px;
      border: var(--color-highlight) 2px solid;
    }
  }
  &.selected {
    margin: 2px 0 3px 0;
    padding: 0 0 0 4px;
    grid-column-end: 5;
    border: solid 1.5px var(--color-highlight);
    border-radius: 7px;
  }
}

.citation-icon {
  vertical-align: top;
  pointer-events: all;
  &.approved {
    &.on {
      color: var(--color-approve);
      :hover {
        color: var(--color-button-enabled);
      }
    }
    &.off {
      color: var(--color-button-enabled);
      :hover {
        color: var(--color-approve);
      }
    }
  }
  &.rejected {
    &.on {
      color: var(--color-reject);
      :hover {
        color: var(--color-button-enabled);
      }
    }
    &.off {
      color: var(--color-button-enabled);
      :hover {
        color: var(--color-reject);
      }
    }
  }
  &.unreviewed {
    color: var(--color-highlight);
  }
}

.doc-footer {
  grid-column: 6;
  background-color: var(--color-page-active);

  div {
    height: 5px;
    background-color: var(--color-doc-active);
    &.last-page-group-selected {
      border-radius: 0 var(--rounding-height) 0 0px;
    }
    &.unselected {
      background-color: var(--color-base);
    }
  }
}

.doc-suffix {
  grid-column: 2 / 6;
  background-color: var(--color-doc-active);

  div {
    height: var(--rounding-height);
    background-color: var(--color-base);
    border-radius: 0 var(--rounding-height) 0 0;
  }
}

.icon {
  margin-bottom: -3pt;
  margin-right: 2pt;
  font-size: 18pt;
}

.large-icon {
  font-size: 36pt;
}

.buttons {
  grid-column: 2 / 6;
}
