:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;

  --color-base: light-dark(#d6d6d6, #424242);
  --color-doc-hover: light-dark(#e3e3e3, #535353);
  --color-doc-active: light-dark(#ebebeb, #646464);
  --color-page-hover: light-dark(#f2f2f2, #757575);
  --color-page-active: #ffffff;

  --color-text: light-dark(#242424, #e8e8e8);
  --color-text-page-active: #242424;
  --color-text-button: light-dark(#e8e8e8, #242424);

  --color-button-disabled: light-dark(#b6b6b6, #808080);
  --color-button-enabled: light-dark(#808080, #b6b6b6);
  --color-button-hover: light-dark(#353535, #e4e4e4);

  --color-approve: #00ac00;
  --color-reject: #f07070;
  --color-highlight: #00acdc;
  --color-edit: #ffa500;
  --color-edit-hover: black;

  --color-icon: light-dark(#808080, #b6b6b6);

  --rounding-height: 3px;
  --icon-size: 30px;

  --sidebar-width: 400px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#review-panel {
  position: relative;
  flex-shrink: 1;
  min-height: 0;
  display: flex;
  align-items: start;
  background-color: var(--color-base);
  color: var(--color-text);
  overflow-x: auto;
}

#review-container {
  padding: 10px 10% 0 10%;
}

#navbar {
  padding: 5px 0 5px 0;
  width: 100%;
  background-color: var(--color-doc-active);
}

.navbar-page {
  display: grid;
  grid-template-columns: 13fr 1fr 2fr 1fr 13fr;
}

.navbar-column {
  margin: 0 auto;

  .visible {
    background-color: var(--color-page-active);
    color: var(--color-text-page-active);
    border-radius: 2px;
    border: var(--color-highlight) 2px solid;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
}

.navbar-icon {
  &.enabled {
    color: var(--color-button-enabled);

    :hover {
      color: var(--color-button-hover);
      cursor: pointer;
    }
  }

  &.disabled {
    color: var(--color-button-disabled);
  }
}

.navbar-change-page {
  margin: 0 auto;
}

#sidebar {
  width: var(--sidebar-width);
  max-height: 100%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 10px 10px 10px 10px auto 10px;
  grid-template-rows: max-content auto;
  background-color: var(--color-base);
  overflow-y: auto;
}

#citations-label {
  grid-column: 2 / 6;
}

#sidebar-header {
  grid-column: 2/ 6;
  margin: 0 10px 0 10px;
}

#disclaimer-section {
  grid-column: 2 / 6;
  font-style: italic;
}

#question-nav {
  display: grid;
  grid-template-columns: var(--icon-size) 1fr var(--icon-size) var(--icon-size);
  grid-template-rows: var(--icon-size);

  .chevron {
    grid-column: 5;
  }
}

.sidebar-divider {
  background-color: var(--color-doc-active);
}

.question {
  padding-bottom: 5px;
  font-size: large;
}

.question-nav {
  height: 100%;
  width: 100%;

  &.enabled {
    color: var(--color-button-enabled);

    :hover {
      color: var(--color-button-hover);
      cursor: pointer;
    }
  }

  &.disabled {
    color: var(--color-button-disabled);
  }
}

#docs {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: subgrid;
}

.doc {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: subgrid;
}

.doc-spacer {
  grid-column: 5 / 7;
  display: grid;
  grid-template-columns: subgrid;
  background-color: var(--color-doc-active);

  div {
    height: var(--rounding-height);
    background-color: var(--color-base);

    &.prefix {
      border-radius: 0 0 var(--rounding-height) 0px;
    }

    &.suffix {
      border-radius: 0 var(--rounding-height) 0 0;
    }
  }
}

.doc-main {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: subgrid;
  border-radius: var(--rounding-height) 0 0px var(--rounding-height);

  &.selected {
    grid-column-end: 7;
    background-color: var(--color-doc-active);
  }

  &.unselected {
    border-radius: var(--rounding-height) 0 0 var(--rounding-height);
    grid-column-end: 6;
  }

  &.unselected:hover {
    background-color: var(--color-doc-hover);
    cursor: pointer;

    .doc-footer {
      div {
        background-color: var(--color-doc-hover);
      }
    }
  }
}

.doc-header {
  grid-column: 1 / 5;
  padding: 3px 0 3px 0px;
  display: grid;
  grid-template-columns: 5% 95%;
}

.bottom-right {
  display: grid;
  background-color: var(--color-page-active);

  div {
    background-color: var(--color-doc-active);
    border-radius: 0 0 var(--rounding-height) 0;
  }
}

.page-group {
  grid-column: 2 / 6;
  border-radius: var(--rounding-height) 0 0 var(--rounding-height);
  display: grid;
  grid-template-columns: subgrid;

  &.selected {
    background-color: var(--color-page-active);
    color: var(--color-text-page-active);
  }

  &.unselected:hover {
    cursor: pointer;
    background-color: var(--color-page-hover);

    .top-right {
      div {
        background-color: var(--color-page-hover);
      }
    }

    .bottom-right {
      div {
        background-color: var(--color-page-hover);
      }
    }
  }
}

.page-header {
  padding: 3px 0 5px 0;
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 5% 95%;

  &.selected {
    grid-column-end: 5;
  }

  &.unselected {
    grid-column-end: 4;
  }
}

.top-right {
  display: grid;
  background-color: var(--color-page-active);

  div {
    background-color: var(--color-doc-active);
    border-radius: 0 var(--rounding-height) 0 0;
  }
}

.citation {
  grid-column-start: 2;
  display: grid;
  margin: 0 0 3px 0;
  grid-column-end: 4;
  grid-template-columns: 5% 95%;
  grid-template-rows: 1.5em;

  .citation-excerpt {
    margin-top: -1px;
    overflow: clip;
    border: transparent 2px solid;
  }
}

.icon-container {
  position: relative;

  :hover {
    cursor: pointer;
  }
}

.unreviewed {
  color: var(--color-highlight);
}

.approved {
  &.on {
    color: var(--color-approve);

    :hover {
      color: var(--color-approve);
    }
  }

  &.off {
    color: var(--color-highlight);

    :hover {
      color: var(--color-approve);
    }
  }
}

.rejected {
  &.on {
    color: var(--color-reject);

    :hover {
      color: var(--color-reject);
    }
  }

  &.off {
    color: var(--color-highlight);

    :hover {
      color: var(--color-reject);
    }
  }
}

/* 
.edit-start {
  color: var(--color-icon);
  :hover {
    color: var(--color-edit);
  }
}


.edit-cancel {
  color: var(--color-icon);
  :hover {
    color: var(--color-edit-hover);
  }
}

.edit-save {
  color: var(--color-icon);
  :hover {
    color: var(--color-edit-hover);
  }
} */

.hoverable {
  .hover {
    display: none;
  }

  .default {
    display: block;
  }

  &:hover {
    .hover {
      display: block;
    }

    .default {
      display: none;
    }
  }
}

.doc-footer {
  grid-column: 6;
  background-color: var(--color-page-active);

  div {
    height: 5px;
    background-color: var(--color-doc-active);

    &.last-page-group-selected {
      border-radius: 0 var(--rounding-height) 0 0px;
    }

    &.unselected {
      background-color: var(--color-base);
    }
  }
}

.icon {
  pointer-events: all;
  height: 100%;
  width: 100%;
}

.answer-epilogue {
  grid-column: 2 / 6;
  padding-right: 15px;
}

.action {
  color: blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#viewer {
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#viewer-viewport {
  position: relative;
}

.viewer-citations {
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

#viewer-citation-highlight {
  position: absolute;
  display: grid;
  grid-template-columns: var(--icon-size);
  border-radius: var(--rounding-height);
  border-width: 2px;
  border-style: solid;
  pointer-events: auto;

  &:hover {
    opacity: 0.4;

    ~#floater {
      opacity: 0.4;

      .background {
        color: transparent;
      }
    }
  }
}

#floater {
  /* transition: opacity 200ms linear; */
  /* transition: color 200ms linear; */
  position: relative;
  display: grid;
  grid-template-rows: var(--icon-size);
  pointer-events: auto;

  &.review {
    grid-template-columns: auto var(--icon-size) var(--icon-size) var(--icon-size) var(--icon-size) auto;
  }

  &.reviewed {
    grid-template-columns: auto var(--icon-size) var(--icon-size) var(--icon-size) auto;
  }
}

.floating {
  position: absolute;
  left: 0px;
  top: 0px;
}

.background {
  color: white;
}

#answer-container {
  padding: 10px 10% 10px 10%;
}

#answer-and-buttons {
  display: grid;
  grid-template-columns: auto var(--icon-size) var(--icon-size);

  .edit-cancel {
    grid-column: 2;
  }
}

.answer-text {
  grid-column: 1 / 4;
}

.answer-section {
  grid-column: 1 / 5;
}

#edit-answer {
  grid-column: 1/4;

  line-height: inherit;
  overflow: none;
  font-family: inherit;
  font-size: large;
  resize: none;
  cursor: inherit;
  height: 5em;

  &.small {
    height: 1.5em;
  }
}

#app {
  height: 100vh;
  background-color: var(--color-base);
  display: flex;
  flex-direction: column;
}

#question-container {
  padding: 10px;
}

.large-icon {
  min-height: var(--icon-size);
  width: var(--icon-size);
}

#approved-citations {
  padding: 0px 10% 10px 10%;
}

.approved-citation-container {
  &:hover {
    .add-excerpt-to-answer {
      visibility: visible;
    }
  }
}

.approved-citation {
  margin-top: -10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--color-doc-active);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: auto;
}

.add-excerpt-to-answer {
  visibility: hidden;
  left: -15px;
  top: 5px;
}

#form {
  height: 100vh;
  padding: 10px 10% 0px 10%;
  background-color: var(--color-base);

  a {
    text-decoration: none;

    &:link {
      color: var(--color-text);
    }

    &:visited {
      color: var(--color-text);
    }
  }
}

.form-question {
  padding-top: 10px;
  cursor: pointer;
}

.form-answer {
  width: 100%;
  line-height: inherit;
  font-family: inherit;
  font-size: large;
  border: 1px solid black;
  background-color: var(--color-page-active);
}

#breadcrumbs {
  background-color: var(--color-base);
}