#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

#app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1;
  grid-auto-rows: 95vh;
  grid-auto-columns: 80% 20%;
  gap: 10px;
}
/* 
#left {
  overflow: scroll;
  height: 400px;
} */

#sidebar {
  grid-column: 1;
  background:#c9c;
  }

#viewer {
  grid-column: 2;
  background:#9c9;
  }


#iframe {
  width: 100%;
  height: 100%;
}