#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

#app {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 1;
  grid-auto-rows: 95vh;
  gap: 10px;
}

/* #sidebar {
  grid-column: 1;
  background:#c9c;
} */

#viewer {
  grid-column: 2;
  background:#9c9;
}
