:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --var-col: 1fr; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(135, 207, 235, 0.457);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: skyblue;
  transition: 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#app {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 1;
  grid-auto-rows: 95vh;
  /* gap: 10px; */
}

#viewer {
}

#navbar {
  padding: 5px 0 5px 0;
  width: 100%;
  background-color: #ebebeb;

  .selected {
    background-color: white;
    border-radius: 2px;
    border: blue 2px solid;
  }
}

.navbar-filename {
  width: fit-content;
  margin: 0 auto;
}

.navbar-page {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar-column {
  margin: 0 auto;
}

#sidebar {
  background-color: #d6d6d6;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-header {
  display: grid;
  grid-template-columns: auto auto auto;
}

.question {
  font-size: larger;
}

.question-prefix {
  font-weight: bold;
}

.question-text {
  font-style: italic;
}

.question-nav {
  font-size: 30pt;
  vertical-align: top;
  &.enabled {
    color: steelblue;
    :hover {
      color: black;
      cursor: pointer;
    }
  }
  &.disabled {
    color: grey;
  }
}

#citation-groups {
  margin-top: 20px;
}

.citation-group {
  margin: 2px 0px 0 15px;
  padding: 2px 0 2px 2px;
  &.unselected {
    display: grid;
    grid-template-columns: min-content auto;
    div {
      line-height: 1.1;
      height: 1.2em;
      overflow: hidden;
      border: transparent 2px solid;
    }
  }
  &.selected {
    border: solid 2px blue;
    border-radius: 7px;
  }
}
.citation-group.unselected:hover {
  div {
    border-radius: 4px;
    border: blue 2px solid;
  }  
}

.citation-icon {
  pointer-events: all;
  &.approved {
    &.on {
      color: rgb(0, 172, 0);
      :hover {
        color: grey;
      }
    }
    &.off {
      color: grey;
      :hover {
        color: rgb(0, 172, 0);
      }
    }
  }
  &.rejected {
    &.on {
      color: lightcoral;
      :hover {
        color: grey;
      }
    }
    &.off {
      color: grey;
      :hover {
        color: lightcoral;
      }
    }
  }
  &.unreviewed {
    color: blue;
  }
}

.hidden {
  display: none;
}

.doc-parent {
  &.unselected {
    padding: 0px 0 0 0;
    display: grid;
    grid-template-columns: auto 10px;
  }
  &.tall {
    height: 800px;
  }
}

.doc-right {
  &.unselected {
    background-color: #ebebeb;
  }
}

.doc-group {
  margin: 0px 0 0 10px;
  padding: 0px 0 10px 2px;
  border-radius: 5px 0 0 5px;
  &.selected {
    background-color: #ebebeb;
  }
  &.unselected {
    margin-top: 4px;
  }
}

.doc-group.unselected:hover {
  background-color: #e3e3e3;
  border: 2x solid black;
  cursor: pointer;
}

.doc-header {
  margin: 0 0 0 px;
  padding: 3px 0 3px 0px;
}

.doc-header.unselected:hover {
  /* color: darkblue; */
  cursor: pointer;
}

.page-group {
  margin: 0 0 0 10px;
  padding: 2px 0 5px 1px;
  border-radius: 5px 0 0 5px;
  &.selected {
    background-color: #ffffff
  }
}

.page-group.unselected:hover {
  background-color: #f2f2f2;
}

.page-header {
}

.error {
  color: red;
}

.clickable {
  cursor: pointer;
}

.icon {
  margin-bottom: -3pt;
  margin-right: 2pt;
  font-size: 18pt;
}

.large-icon {
  font-size: 36pt;
}


.navbar-icon {
  margin-bottom: -3pt;
  margin-right: 2pt;
  font-size: 18pt;
  &.enabled {

  }
  &.disabled {
    color: grey;
  }
}
